@font-face {
  font-family: "Josefine Sans";
  src: url("./fonts/JosefinSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Alata";
  src: url("./fonts/Alata-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=======================     header     ======================== */

header {
  height: 100vh;
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.navbar {
  padding: 3.5rem 0;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height: 30px;
  max-width: 1114px;
  margin: 0 auto;
}
.header-menu {
  display: flex;
  list-style-type: none;
}
.header-menu li {
  margin-left: 2rem;
  position: relative;
}

.header-menu li::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform: scale(0);
  transform-origin: center;
  background-color: #fff;
  left: 0;
  bottom: -7px;
  transition: all 0.3s;
}
.header-menu li:hover::after {
  transform: scale(1);
}

.header-menu li a {
  text-decoration: none;
  font-family: "Josefine Sans", "Alata", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.nav-logo {
  font-family: "Josefine Sans";
  color: #fff;
  font-weight: 900;
  font-size: 30px;
}

.open-menu {
  display: none;
}

.close-menu {
  display: none;
}

.title-wrapper {
  width: 86%;
  max-width: 1114px;
  margin: 80px auto;
}

.title {
  max-width: 652px;
  font-size: 4.5rem;
  color: black;
  border: 2px solid black;
  padding: 40px;
  margin: 0;
  font-family: "Josefine Sans";
  font-weight: 300;
  text-transform: uppercase;
  /* width: 86%; */
}

/*========================   contact us form    ============================= */

.contact-us {
  max-width: 50rem;
  margin: 5rem auto;
}

.title-wrapper {
  width: 86%;
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 20px;
  padding: 0 4rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Josefine Sans", sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(6, 186, 6);
}

.contact-form-btn {
  border-style: none;
  border: 1px solid;
  padding: 12px 2.4rem;
  background-color: inherit;
  transition: 0.5s;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 1rem;
  font-size: 100%;
  font-family: inherit;
  transition: 0.4s;
  cursor: pointer;
}

.form-group.btn {
  text-align: end;
}

.contact-form-btn:hover {
  background-color: black;
  color: #fff;
}

/* =========================     footer    ====================== */

footer {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
  background-color: black;
  color: #fff;
  width: 100%;
}

.footer-wrapper {
  width: 86%;
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto;
}
.logo-social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.footer-logo {
  font-family: "Josefine Sans";
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-social.down {
  display: none;
}

.footer-social-link {
  position: relative;
}

.footer-social-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform: scale(0);
  transform-origin: center;
  background-color: #fff;
  left: 0;
  bottom: -7px;
  transition: all 0.3s;
}
.footer-social-link:hover::after {
  transform: scale(1);
}
.footer-social-img {
  border-style: none;
}

.nav-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.footer-copyright {
  opacity: 0.5;
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

.footer-menu {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}
.footer-menu li {
  margin-right: 2rem;
  position: relative;
}

.footer-menu li::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform: scale(0);
  transform-origin: center;
  background-color: #fff;
  left: 0;
  bottom: -7px;
  transition: all 0.3s;
}
.footer-menu li:hover::after {
  transform: scale(1);
}

.footer-menu li a {
  text-decoration: none;
  font-family: "Josefine Sans", "Alata", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.footer-attribution {
  text-align: center;
  font-size: 11px;
}
.footer-attribution-link {
  font-family: "Alata", sans-serif;
  color: #3e52a3;
}

/* ==========================   responsive   ================================== */

@media screen and (max-width: 1200px) {
  header {
    background-image: url(./images/mobile/image-hero.jpg);
  }
  .header-menu {
    display: none;
  }
  .close-menu {
    display: inline-block;
  }
  .title {
    font-size: 2.5rem;
    padding: 20px;
  }

  .form-group.btn {
    text-align: center;
  }
  .contact-form-btn {
    transition: none;
  }

  .contact-form-btn:hover {
    background-color: inherit;
    color: #000000;
    cursor: auto;
  }
  .contact-form-btn:focus {
    border: 1px solid rgb(6, 186, 6);
  }
  .logo-social,
  .footer-menu,
  .nav-copyright {
    display: block;
  }

  .footer-social.top {
    display: none;
  }
  .footer-social.down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .footer-social-link:hover::after {
    transform: scale(0);
  }

  .footer-menu {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .footer-menu li {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .footer-copyright {
    text-align: center;
    margin: 10px 0;
  }

  .footer-menu li:hover::after {
    transform: scale(0);
  }
}
